In [1]:
import pandas as pd
import numpy as np
import os
from statistics import mode
import matplotlib.pyplot as plt

In [2]:
def boxplots(att):
    plot = df.boxplot(column=att)
    plot.set_title("Box Plot for "+att)
    plt.show()

def dataCleaning(df):
    df = pd.read_csv("LBW_Dataset.csv")
    print("Check for Missing Values:")
    print(df.count())
    for i in df:
        boxplots(i)

    # Median replacement done for the attributes with outliers
    outlier_categories = ['Age','BP','HB']

    for i in outlier_categories:
        df[i] = df[i].fillna(np.nanmedian(df[i]))

    # Mean replacement for other numeric attributes
    df['Weight'] = df['Weight'].fillna(int(np.nanmean(df['Weight'])))

    # Mode replacement done for all binary attributes
    att = ['Delivery phase','Education','Residence']
    for i in att:
        df[i] = df[i].fillna(mode(df[i]))

    print("Check after dealing with missing values:")
    print(df.count())
    return df

,Community,Age,Weight,Delivery phase,HB,IFA,BP,Education,Residence,Result
0,1,21.0,42.0,1.0,9.2,1,1.375,5.0,1.0,0
1,1,21.0,NaN,1.0,8.8,1,1.500,5.0,1.0,0
2,1,21.0,NaN,1.0,9.2,1,2.125,5.0,1.0,0
3,1,21.0,NaN,1.0,8.0,1,1.375,5.0,1.0,0
4,1,24.0,33.0,1.0,9.3,1,1.571,5.0,1.0,0