In [61]:
import pandas as pd
import numpy as np
import os
import statistics as stat

In [6]:
#os.getcwd()
df = pd.read_csv("LBW_Dataset.csv")
df.head()

,Community,Age,Weight,Delivery phase,HB,IFA,BP,Education,Residence,Result
0,1,21.0,42.0,1.0,9.2,1,1.375,5.0,1.0,0
1,1,21.0,NaN,1.0,8.8,1,1.500,5.0,1.0,0
2,1,21.0,NaN,1.0,9.2,1,2.125,5.0,1.0,0
3,1,21.0,NaN,1.0,8.0,1,1.375,5.0,1.0,0
4,1,24.0,33.0,1.0,9.3,1,1.571,5.0,1.0,0

In [53]:
#len(df)
# accounting for missing values in column Age

i = 0
mean_age = 0
for ages in df['Age']:
    if ages > 0:
        i += 1
        mean_age += ages
mean_age = mean_age/i
mean_age = round(mean_age,1)
print(mean_age)
#print(i)

i = 0
l = []
for ages in df['Age']:
    if ages > 0:
        l.insert(i, ages)
    else:
        l.insert(i, mean_age)
    i += 1

df['Age'] = l

23.8

In [58]:
# accounting for missing values in Weight

i = 0
mean_wt = 0
for wt in df['Weight']:
    if wt > 0:
        i += 1
        mean_wt += wt
mean_wt = mean_wt/i
mean_wt = round(mean_wt,1)
print(mean_wt)
#print(i)

i = 0
l = []
for wt in df['Weight']:
    if wt > 0:
        l.insert(i, wt)
    else:
        l.insert(i, mean_wt)
    i += 1

df['Weight'] = l

45.1

In [96]:
# accounting for missing values in Delivery Phase

mode_deliv = (stat.mode(df['Delivery phase']))
l = []
i=0
for deliv in df['Delivery phase']:
    if deliv == 1 or deliv == 2:
        l.insert(i, deliv)
    else:
        l.insert(i, mode_deliv)
    i += 1
df['Delivery phase'] = l

0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
     ...
91    1.0
92    2.0
93    1.0
94    1.0
95    1.0
Name: Delivery phase, Length: 96, dtype: float64

In [100]:
# accounting for missing values in HB

#df['HB'].isnull().sum()

i = 0
mean_hb = 0
for hb in df['HB']:
    if hb > 0:
        i += 1
        mean_hb += hb
mean_hb = mean_hb/i
mean_hb = round(mean_hb,1)
print(mean_hb)
#print(i)

i = 0
l = []
for hb in df['HB']:
    if hb > 0:
        l.insert(i, hb)
    else:
        l.insert(i, mean_hb)
    i += 1

df['HB'] = l

9.1

In [103]:
#df['IFA'].isnull().sum()
df['BP'].isnull().sum()

15

In [109]:
# accounting for missing values in BP
# i resused code and didnt change variables.

i = 0
mean_hb = 0
for hb in df['BP']:
    if hb > 0:
        i += 1
        mean_hb += hb
mean_hb = mean_hb/i
mean_hb = round(mean_hb,3)
print(mean_hb)
#print(i)

i = 0
l = []
for hb in df['BP']:
    if hb > 0:
        l.insert(i, hb)
    else:
        l.insert(i, mean_hb)
    i += 1

df['BP'] = l

1.721

In [112]:
df['Education'].isnull().sum()
df['Residence'].isnull().sum()
# do we delete these rows ? or we can use mode which is 5 for Education and 1 for Residence

3